global
    maxconn 1000

defaults
    mode tcp
    balance roundrobin
    option abortonclose
    option dontlognull
    option redispatch
    timeout check           3s
    timeout client          1h  # Client and server timeout must match the longest
    timeout connect         4s
    timeout queue           45s  # Don't queue requests too long if saturated.
    timeout server          1h  # Time we may wait for a response from the server.
    retries 3
    log global

# ------------------------------------------------------------------------------
#  Main frontend *.onefootball.com
# ------------------------------------------------------------------------------
frontend localhost
    mode tcp
    bind haproxy:3306
    use_backend galera

backend galera
    mode tcp
   # balance leastconn
    option tcpka
    server node0 node0:3306 check weight 1
    server node1 node1:3306 check weight 1
    server node2 node2:3306 check weight 1
    server node3 node3:3306 check weight 1
