[mysqld]
wsrep_on                  = ON
wsrep_cluster_name        = maria_cluster
wsrep_load_data_splitting = ON
wsrep_node_name           = node1
wsrep_provider            = /usr/lib/galera/libgalera_smm.so
wsrep_replicate_myisam    = OFF
wsrep_sst_method          = rsync
wsrep_cluster_address     = gcomm://node0,node1,node2,node3
wsrep_node_address        = node1
bind-address = 0.0.0.0
default_storage_engine = innodb
binlog_format = row
innodb_autoinc_lock_mode = 2
innodb_flush_log_at_trx_commit = 0
query_cache_size = 0
query_cache_type = 0
